@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

@font-face {
  font-family: "SF Pro Rounded";
  src: url("./fonts/sf-pro.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Rounded";
  src: url("./fonts/sf-pro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Rounded";
  src: url("./fonts/sf-pro-light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

#WEB3_CONNECT_MODAL_ID {
  z-index: 999999999;
  position: relative;
}
body {
  background: #010a2a;
  color: #fff;
  font-family: "SF Pro Rounded";
}

.connect-icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 2rem;
}
.text-primary {
  color: #8fff00;
}

/*
@media screen and (min-width: 500) {
  .green-button {
    font-size: 1.4rem;
    padding: 0 2rem;
  }
  
}*/

.rodal-dialog {
  background: #0b1d4d !important;
  border-radius: 30px !important;
  color: #fff !important;
  display: flex !important;
  font-family: "SF Pro Rounded" !important;
}
.rodal-close {
  z-index: 999 !important;
}
strong {
  color: #fc0505;
}
header {
  background: #0b1d4d;
}
#dashboard {
  background-repeat: no-repeat;
  background-position-y: 10%, 50%;
  background-position-x: 0, 100%;
  min-height: 100vh;
}

.warning {
  color: red;
}
.bg-black {
  background: #000;
  color: #fff;
}
.potato {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  z-index: 1;
}
#navigation .switch span {
  position: relative;
  display: inline-block;
  top: -0.5em;
}

.gradient-border {
}
.bg-blue {
  background: #0b1d4d;
}

.playFair {
  font-family: "Playfair";
  font-style: italic;
}
.text-black {
  color: #000;
}
.right0 {
  right: 0;
}
.top0 {
  top: 0;
}

.pair {
  border: 1px solid #0060f8;
  font-size: 0.7em;
  position: relative;
  display: block;
  background: #fff;
  font-weight: bold;
}
.pair:nth-child(2) {
  position: relative;
  z-index: 2;
  transform: translate(-50%, 35%);
}
.square {
  position: relative;
}
.square::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 100%;
}
.centerXY {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.fixedContainer {
  max-width: 1200px;
}

.fixedSmallContainer {
  max-width: 1000px;
}
.border-white {
  border: 1px solid #fff;
}

#footer {
  max-width: 1130px;
  margin: auto;
  display: flex;
  width: 80%;
  justify-content: space-between;
  padding-bottom: 100px;
  margin-top: 8rem;
}

.logo-contianer > p {
  font-size: 14px;
  line-height: 20px;
}

.logo-contianer > p.copy-right {
  font-family: "gordita";
  margin-top: 35px;
}

.logo-contianer {
  flex-basis: 290px;
}

.footer-col > a {
  display: block;
  font-size: 14px;
  font-weight: 400;
  font-family: "helvetica";
  margin-bottom: 20px;
  color: #ffffff80;
}

.footer-title {
  font-size: 15px;
  font-weight: bold;
  font-family: "helvetica";
  margin-bottom: 30px;
}

.footer_img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 45px;
}

.footer_menu {
  max-width: 1210px;
  margin: auto;
  display: grid;
  grid-template-columns: 79% 21%;
  padding: 40px 0px;
}
.footer_menu_1 {
  display: flex;
  justify-content: space-around;
}
.footer_menu_1 a {
  font-size: 14px;
}
.footer_menu_2 {
  display: flex;
  justify-content: center;
}
.footer_menu_2 a:nth-child(2) {
  margin: 0px 45px;
}
.footer_copyrights p {
  text-align: center;
  margin: 40px 0px;
  font-size: 12px;
}

@media all and (max-width: 900px) {
  #footer {
    flex-wrap: wrap;
  }

  .logo-contianer {
    flex-basis: 100%;
    text-align: center;
  }
}

@media all and (max-width: 620px) {
  .footer-col.socials {
    flex-basis: 100%;
    text-align: center;
  }
}
